In [29]:
import pandas as pd
import numpy as np
import requests
import zipfile
from io import BytesIO

# Prática 1

## Contexto do dataset

Trata-se de um dataset proveniente de simulação de rede com três slices e cinco clientes demandantes.

Observações:

- O dataset não está normalizado. Há a necessidade de fazer;

- Há atributos categóricos e textuais não compatíveis com algoritmos que utilizem medidas de distâncial;

In [4]:
df = pd.read_csv("data/dataset_n_normalizado.csv")

columns = ["Latency", "Jitter", "Loss", "Bandwidth", "Transfer", "Distance", "Reliability"]
columns

['Latency',
 'Jitter',
 'Loss',
 'Bandwidth',
 'Transfer',
 'Distance',
 'Reliability']

In [5]:
df_numeric = df[columns]

In [65]:
def has_null(df_local):
    isNuN = df_local.isna().unique()
    
    if len(isNuN) == 1 & isNuN[0] == False:
        return True
    return False

In [66]:
has_null(df_numeric.Latency)

False

In [68]:
df.Latency.describe()

count    1943.000000
mean        1.067772
std         0.341916
min         0.554000
25%         0.757000
50%         1.068000
75%         1.439000
max         1.878000
Name: Latency, dtype: float64

In [69]:
df

,Latency,Jitter,Loss,Protocol,Bandwidth,Transfer,UE,experiment,Distance,Reliability
0,1.467,1.662564,1,UDP,20000.0,715000.0,1,1,21.671572,99.992035
1,0.910,0.591290,1,UDP,20000.0,715000.0,1,1,47.952992,99.991663
2,0.835,0.562661,0,UDP,20000.0,715000.0,1,1,53.945823,99.989815
3,0.887,0.594343,1,UDP,20000.0,715000.0,1,1,57.463017,99.995995
4,0.911,0.600579,0,UDP,20000.0,715000.0,1,1,51.108410,99.991657
...,...,...,...,...,...,...,...,...,...,...
1938,0.577,0.422181,0,TCP,15010.0,536000.0,5,11,61.233174,99.994667
1939,0.863,1.018604,1,TCP,15010.0,536000.0,5,11,15.550016,99.990801
1940,0.559,0.425855,0,TCP,15010.0,536000.0,5,11,68.832159,99.992738
1941,0.580,0.461372,0,TCP,15010.0,536000.0,5,11,68.223138,99.994853
1942,0.598,0.473480,0,TCP,15010.0,536000.0,5,11,85.626875,99.986560

In [15]:
# matriz = np.loadtxt("data/dataset_n_normalizado.csv", delimiter=",", skiprows=1)

matriz = np.genfromtxt("data/dataset_n_normalizado.csv", delimiter=",", skip_header=1)

In [17]:
matriz[0]

array([1.46700000e+00, 1.66256436e+00, 1.00000000e+00,            nan,
       2.00000000e+04, 7.15000000e+05, 1.00000000e+00, 1.00000000e+00,
       2.16715719e+01, 9.99920347e+01])

In [20]:
type(matriz)

numpy.ndarray

In [68]:
type(df)

pandas.core.frame.DataFrame